* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: white;
}

#Login {
    width: 600px;
    height: 550px;
    background: linear-gradient(rgba(10, 8, 8, 0.8), rgba(6, 157, 233, 0.88));
    position: fixed;
    top: 15%;
    left: 32%;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 10px 20px 40px #676464;
}

#Login #head {
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
    font-family: serif;
    color: white;
    font-weight: bolder;
}

#Login span {
    font-size: 1.1em;
    font-family: serif;
    color: rgba(0, 170, 255, 0.961);
}

.row {
    position: relative;
    left: 10%;
    font-family: serif;
    font-size: 1.6em;
    font-weight: bold;
    color: white;
}

.row:hover {
    padding: 5px;
    border: none;
    outline: none;
    font-size: 1.8em;
    transition: 0.5s;
}

form label input {
    padding: 1px 5px;
    font-weight: bold;
    position: relative;
    left: 23%;
    font-family: serif;
    font-size: 1.5em;
    width: 350px;
    height: 40px;
    color: rgb(11, 117, 247);
    border: 3px solid white;
    border-radius: 10px;
}

form label input:hover {
    height: 50px;
    padding: 20px;
    border: 3px solid black;
    outline: none;
    font-size: 1.6em;
    border-radius: 10px;
    transition: 1.5s;
}

.clear {
    margin-left: 220px;
    width: 150px;
    height: 50px;
    background-color: rgba(14, 79, 112, 0.973);
    color: white;
    border: 5px solid white;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: serif;
    font-weight: bold;
}

.clear:hover {
    margin-left: 190px;
    width: 200px;
    height: 60px;
    border: 5px solid white;
    background-color: green;
    outline: none;
    font-size: 1.8em;
    border-radius: 10px;
    transition: 1.5s;
}

#Login form p a {
    position: absolute;
    left: 41%;
    margin-top: 30px;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    color: white;
}

#Login form p a:hover {
    position: absolute;
    left: 38%;
    text-decoration: none;
    list-style: none;
    font-size: 40px;
    color: black;
    transition: 0.5s;
}

#emaill,
#passwordd {
    display: block;
    font-weight: 300;
    font-style: italic;
    padding: 5px;
    text-align: center;

}

#Login form label.valid .emailText,
#Login form label.valid .passText {
    color: #00f000;
    font-size: 1.2em;
}

#Login form label.invalid .emailText,
#Login form label.invalid .passText {
    color: yellow;
    font-size: 1.2em;
}

#Login form label.valid::before,
#Login form label.invalid::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    top: 8px;
    right: 128px;
    z-index: 100;
}

#Login form label.valid::before {
    background: url(check.svg)no-repeat center /cover;
}

#Login form label.invalid::before {
    background: url(error.png)no-repeat center /cover;
}

form label {
    position: relative;
    display: block;

}